@media (max-width: 1400px) {
  .whatsapp-btn {
    width: 85vw;
  }
}
 @media (max-width: 768px) {
  .feature {
    bottom: 0;
  }
}

@media (max-width: 450px) {
  .feature {
    bottom: 0px;
  }
  .whatsapp-btn {
    bottom: 0px;
  }
  .socialMedia-heading {
    font-size: 15px;
  }
}

@media (max-width: 300px) {
  .feature {
    bottom: 0px;
  }
  .whatsapp-btn {
    bottom: 0px;
  }
  .socialMedia-Container {
    bottom: 0px;
  }
}


 
